@page "/about-us"

@layout InnerPagelayout
<Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="PageName">
    About us 
</Microsoft.AspNetCore.Components.Sections.SectionContent>

<AboutSection />
<Team />
<h3>About Us</h3>
@code {

}
