@page "/bookings"
<h3>Booking</h3>
@layout InnerPagelayout
<Microsoft.AspNetCore.Components.Sections.SectionContent  SectionName="PageName">
    Booking
</Microsoft.AspNetCore.Components.Sections.SectionContent>
@code {

}
