@page "/contact"
<h3>Contact</h3>
@layout InnerPagelayout
<Microsoft.AspNetCore.Components.Sections.SectionContent  SectionName="PageName">
    Contact us
</Microsoft.AspNetCore.Components.Sections.SectionContent>
@code {

}
