@page "/rooms"
<h3>Rooms</h3>
@layout InnerPagelayout
<Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="PageName">
    Rooms
</Microsoft.AspNetCore.Components.Sections.SectionContent>
@code {

}
