@page "/services"
<h3>Services</h3>
@layout InnerPagelayout
<Microsoft.AspNetCore.Components.Sections.SectionContent  SectionName="PageName">
    Our Services 
</Microsoft.AspNetCore.Components.Sections.SectionContent>

@code {

}
